


$theme-colors: (
	"black-a25" : rgba(0, 0, 0, 0.25),
	"black-a5" : rgba(0, 0, 0, 0.5),
	"black-a7" : rgba(0, 0, 0, 0.7),
	"black-a9" : rgba(0, 0, 0, 0.9),
	"black" : #070707,
	"white2" : #EAEAEA,
	"white3": #DDDDDD,
	"white-a5" : rgba(255, 255, 255, 0.5)
	);

@import "../node_modules/bootstrap/scss/bootstrap";


// // FONT
// font-family: 'Roboto Slab', serif;
// font-family: 'Heebo', sans-serif;


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Heebo', sans-serif;
}


.root {
	font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
}


.fadein {
    opacity: 0;
    -moz-transition: opacity .3s;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

body.loaded .fadein {
    opacity: 1;
}


body {
	background-color: #070707;
	  /* Center and scale the image nicely */
}
body#index {
	background: url("./../images/bg/bg1.jpg");
  	background-position: center;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: cover;
}

body#gallery {
	background: url("../images/bg/bg3.jpg");
  	background-position: top;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: cover;
}


body#about {
	background: url("../images/bg/bg4.jpg");
  	background-position: center;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: cover;
}

body#contact {
	background: url("../images/bg/bg2.jpg");
  	background-position: center;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.col-scroll {
	height: 100vh;
    overflow-y: auto;
}

#about .card-img-top {

}

////FONTS

.fontroboto {
	font-family: 'Roboto Slab', serif;
}

.fontheebo {
	font-family: 'Heebo', sans-serif;
}

h1, h2, h2, h3, h4, h5 {
	font-family: 'Roboto Slab', serif;
}
// font-family: 'Roboto Slab', serif;
// font-family: 'Heebo', sans-serif;

/////FONTS



/////////////////////////////////////////// FOR SIDE NAV

//icon
.my-icon {
    background-image: url("../images/logoiconround.ico");
        height: 20px;
        width: 20px;
        display: block;
}

.fixed-side {
    position: fixed;
}



#sidebar ul li {
	margin-bottom: 2rem;
}

.nav-img {
	width: 2rem;
	filter: hue-rotate();
}


#nav-logo-a:hover {
	text-shadow: 0px 0px 12px #FFFFFF;
}


.blanker {
	opacity: 0;
	font-size: 0.2em;
	margin: 0;
	padding: 0;
}


#sidebar ul li {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

#sidebar ul li a {
	color: #DDDDDD; //white3
	font-size: 2rem;
	text-shadow: 0px 0px 7px #000000;
	transition: 1s;
}

#sidebar ul li a.active {
	font-size: 2.5rem;
}

#sidebar ul li h1,
#sidebar ul li a,
 {
	margin: 0;
	padding: 0;
}


#sidebar ul li h3 {
	font-size: 0.75rem;
	margin: 0 auto;
	padding: 0.5em;
	opacity: 0;
}

//ACTIVE
#sidebar li.active {
	background-color: rgba(0, 0, 0, 0.8);
}

#sidebar li.active a {
	color: #EAEAEA; //white2
	// font-size: 2.5rem;
	text-shadow: 0px 0px 8px rgba(255,255,255,0.8);
}

#sidebar li.active h3 {
	color: #EAEAEA; //white2
	opacity: 1;
	transition: 2s;
}

//END ACTIVE

// HOVER
#sidebar ul li:hover {
	background-color: rgba(0, 0, 0, 0.8);
	transition: 2s;
}

#sidebar ul li:hover a,
 {

	color: #EAEAEA; //white2
	font-size: 2.5rem;
	transition: 1s;
}

#sidebar ul li:hover h3 {
	color: #EAEAEA; //white2
	opacity: 1;
	transition: 2s;
}
// END HOVER

#divmsgr {
	bottom: 0;
	width: 100%;
	position: absolute;
}

#divmsgr h1 {
	color: #EAEAEA;
	font-size: 3rem;
}

#mobile-nav-logo {
	width: 10vw;
}


/////////////////////////////////////////// END FOR SIDE NAV


/////////////////////////////////////////// FOR LANDING PAGE

.landing-text-div {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	text-align: center;
	font-weight: bolder;
	padding: 3rem;
	-webkit-box-shadow: 0px 0px 42px 22px rgba(0,0,0,0.68); 
	box-shadow: 0px 0px 42px 22px rgba(0,0,0,0.68);
}

.landing-text-div:hover {
	filter: invert(100%);
	transition: 1s;
}

.landing-title {
  	font-family: 'Roboto Slab', serif;
	display: block;
	text-shadow: 0px 0px 13px #000000;
	line-height: 4rem;
	font-size: 3.2rem;
}
.landing-subtitle {
	display: block;
	text-shadow: 0px 0px 13px #000000;
	font-size: 1rem;
	transition-delay: 5s;
}

.landing-home-btn {
  	position: absolute;
  	// top: 50%;
  	bottom: 2%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	text-align: center;
	font-weight: bolder;
}

.arrow-home {
	font-size: 2rem;
	text-shadow: 0px 0px 13px #000000;
}

.arrow-home:hover {
	text-shadow: 0px 0px 1rem rgba(255,255,255,0.3);
	transition: 1s;
}

/////////////////////////////////////////// END LANDING PAGE


/////////////////////////////////////////// HOME

.my-jumbotron-header {
	z-index: 1;
  font-family: 'Roboto Slab', serif;
}

.my-jumbotron-text {
  font-family: 'Heebo', serif;
}

#index .img-logo {
	border-radius: 100%;
	filter: saturate(50%);
	-webkit-box-shadow: 0px 0px 33px 14px #000000; 
	box-shadow: 0px 0px 33px 14px #000000;
}

#index .jumbo1 {
	position: relative;
}

#index .go-to-page{
	text-decoration: none;
	color: #EAEAEA;
	text-decoration-color: #EAEAEA;
}

#index .go-to-page:hover h4{
	color: rgba(0, 0, 0, 0.7);
	text-decoration-color: rgba(0, 0, 0, 0.7);
	background-color: #EAEAEA;
	transition: 1s;
}

#home-gallery-main-image {
}

#home-gallery-main-image:hover {
}


#home-gallery-main-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middlemobile:hover {
	cursor: pointer;
	background-color: #EAEAEA;
}
.middlemobile:hover h4{
	color: rgba(0,0,0, 0.7);
}

.togallerydiv:hover #home-gallery-main-image {
  opacity: 0.3;
  transition: 1s;
}

.togallerydiv:hover .middle {
  opacity: 1;
  transition: 1s;
}

.gallerytext {
  background-color: rgba(0,0,0,0.7);
  color: #EAEAEA;
  font-size: 16px;
  padding: 16px 32px;
  transition: 1s;
}

#to-gallery {
	text-decoration: none;
}



/////////////////////////////////////////// END  HOME

.card-img-top{
    object-fit: cover;
}


/////////////////////////////////////////// ABOUT

#about .img-logo {
	width: 40vw;
	height: 100%;
	border-radius: 100%;
	filter: saturate(50%);
	-webkit-box-shadow: 0px 0px 33px 14px #000000; 
	box-shadow: 0px 0px 33px 14px #000000;
}

#breedinfo .card .card-img-top{
	border-radius: 100%;
    // object-fit: cover;
    transition: 1s;
}

#about #breedinfo .card .imgbilog{
	object-fit: cover;
	border-radius:5px;
	width: 100%; 
	transition: 1.5s;
}
#about #breedinfo .card .imgbilog:hover{
	border-radius: 100%;
	filter: invert(100%);
	transition: 1s;
}


#breedinfo .card .akclink {
	text-decoration: none;
}

#breedinfo .card-title:hover {
	filter: invert(100%);
}

#breedinfo .card .card-text {
	text-shadow: 0px 0px 10px #000000;
}

#breedinfo .card .card-text:hover .akclink {
	text-shadow: 0px 0px 13px #FFFFFF;
	transition: 0.3s;
}

#breedinfo .card .card-text:hover {
	filter: invert(100%);
	transition: 0.3s;
}

#breedinfo .card-img-top:hover {
	filter: invert(100%);
	transition: 0.3s;
}

#about .card-image-wrapper {
	// overflow: hidden;	
	// width: 100vw;

}




////////////////////////////////////////// END ABOUT


////////////////////////////////////////// GALLERY

#gallery #gallery-modal-div .modal-body {

  overflow: hidden;
  position: relative;

}

#gallery #gallery-modal-image {
    object-fit: contain;
  	max-height: 80vh;	

}

#gallery #gallery-modal-div .modal-dialog {

  overflow: hidden;
}


#gallery-main-div .card-img-top{
	filter: brightness(80%);
	cursor: zoom-in;
    object-fit: cover;
    transition: 1s;
}

#gallery-main-div .card-image-wrapper {
	overflow: hidden;
}
#gallery-main-div .card-img-top:hover {
	filter: brightness(140%);
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition: 1s;
}

#gallery .modalclose {
	position: absolute;
	top:0;
	right: 8px;
	cursor: pointer;
}

#gallery .modal-body {
	position: relative;
}

////////////////////////////////////////// END GALLERY


////////////////////////////////////////// CONTACT
#email, #message{
    background-color:rgba(0, 0, 0, 0.7);
    font-size: 2rem;
    color: #EAEAEA;
}
#email-mobile, #message-mobile{
    background-color:rgba(0, 0, 0, 0.7);
    font-size: 1rem;
    color: #EAEAEA;
}
.submit:hover {
	background-color: #EAEAEA;
	color: rgba(0, 0, 0, 0.7); 
	transition: 1s;
}

.submit:hover h3 {
	font-color: rgba(0, 0, 0, 0.7);
	transition: 1s;
}

////////////////////////////////////////// END CONTACT




///////////////////////////////////// TYPEWRITER
/* GLOBAL STYLES */


/* Typewriter */
.typewriter .landing-title {
  color: #EAEAEA;
  font-family: 'Roboto Slab', serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #EAEAEA }
}

///////////////////////////////////// TYPEWRITER










// MOBILE

@media screen and (max-width: 450px) {


.landing-text-div {
	padding: 0.5rem;
	-webkit-box-shadow: 0px 0px 26px 7px rgba(0,0,0,0.68); 
	box-shadow: 0px 0px 26px 7px rgba(0,0,0,0.68);
}
.landing-title {
	line-height: 2rem;
	font-size: 1.5rem;
	text-shadow: 0px 0px 9px #000000;
}
.landing-subtitle {
	font-size: 0.75rem;
	text-shadow: 0px 0px 9px #000000;
}
}



// FOR SCREEN ROTATE LANDSCAPE

// @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
//   html {
//     transform: rotate(-90deg);
//     transform-origin: left top;
//     width: 100vh;
//     overflow-x: hidden;
//     position: absolute;
//     top: 100%;
//     left: 0;
//   }
// }